* {
    margin: 0;
    padding: 0;
}


div, p {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px 15px 20px 25px;

    /*
        para border, padding y margin
        podemos indicar los valores para cada vertice de varias formas.
    */

    padding: 10px;
    padding: 10px 15px;
    padding: 10px 15px 20px 25px;

    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
}

#Caja2 {
    border: none;
}

article {
    border: 10px solid black;
    height: 200px;
    width: 500px;
}